<header>
  <div class="nav_bar clearfix">
    <ul>
      <li>
        <h1>
          <div class="logo"><%= link_to "Tea Tree", "/" %></div>
        </h1>
      </li>
      <li>
        <div class="float_left">
          <form accept-charset="UTF-8" action="/postings/search" method="get">
            <p>お茶
                <input placeholder="お茶のなまえ" type="text" name="keyword" value="">
                <input type="submit" value="検索">
            </p>
            </form>
        </div>
      <li>
        <div class="submit_review">
          <%= link_to "投稿する", "/postings/new" %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li>
          <div class="log_in clearfix">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        </li>
        <li class="name clearfix">
          <%=link_to "#{current_user.name}", "users/#{current_user.id}" %>さん
        </li>
      <% else %>
        <li>
          <div class="log_in clearfix">
            <%= link_to "ログイン", new_user_session_path %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</header><!-- /header -->
<div class="content">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>紅茶</h3>
          <%= link_to image_tag("t5.jpg", :class => "triming"), "/black"  %>
          <p></p>
          <p><a href="/black" class="btn btn-primary green" role="button">なにのむ？</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
        <h3>緑茶<small style="font-size: 18px;">(日本茶)</small></h3>
          <%= link_to image_tag("1307217top.jpg",:class => "triming"), "/japanese" %>
          <p></p>
          <p><a href="/japanese" class="btn btn-primary green" role="button">なにのむ？</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>中国茶</h3>
          <%= link_to image_tag("546F70_61_746561.jpg", :class => "triming"), "/chinese" %>
          <p></p>
          <p><a href="/chinese" class="btn btn-primary green" role="button">なにのむ？</a>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "その他", "#" %>
</div>
<footer>Copyright TeaTree</footer>