<header>
  <div class="nav_bar clearfix">
    <ul>
      <li>
        <h1>
          <div class="logo"><%= link_to "Tea Tree", "/" %></div>
        </h1>
      </li>
      <li>
        <div class="float_left">
          <form accept-charset="UTF-8" action="/postings/search" method="get">
            <p>お茶
                <input placeholder="お茶のなまえ" type="text" name="keyword" value="">
                <input type="submit" value="検索">
            </p>
            </form>
        </div>
      <li>
        <div class="submit_review">
          <%= link_to "投稿する", "/postings/new" %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li>
          <div class="log_in clearfix">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        </li>
        <li class="name clearfix">
          <%=link_to "#{current_user.name}", "users/#{current_user.id}" %>さん
        </li>
      <% else %>
        <li>
          <div class="log_in clearfix">
            <%= link_to "ログイン", new_user_session_path %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</header><!-- /header -->
<div class="content">
  <div class="row">
  <% @black.each do |tea| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "#{tea.image}" %>
        <div class="caption">
          <h3><%= tea.name %></h3>
          <h4>投稿者：<%=link_to "#{tea.user.name}", "/users/#{tea.user.id}" %></h4>
          <p><%= tea.experience %></p>
          <p><%= link_to "詳細", black_path(tea.id), :class => "btn btn-default", :role => "button" %></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<footer>Copyright TeaTree</footer>