<header>
  <div class="nav_bar clearfix">
    <ul>
      <li>
        <h1>
          <div class="logo"><%= link_to "Tea Tree", "/" %></div>
        </h1>
      </li>
      <li>
        <div class="submit_review">
          <%= link_to "投稿する", "/posting/new" %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li>
          <div class="log_in clearfix">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        </li>
        <li class="name clearfix">
          <%= current_user.name %>さん
        </li>
      <% else %>
        <li>
          <div class="log_in clearfix">
            <%= link_to "ログイン", new_user_session_path %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</header><!-- /header -->
<div class="content_show clearfix">
  <div class="float_left">
    <h3><%= @tea.name %>
      <div class="float_right">
        <h4>飲んだ人：<%= @posting_user.name %></h4>
      </div>
    </h3>

    <%= image_tag @tea.image %>
  </div>
  <div class="float_left">
    <p>茶葉の量：<%= @tea.gram %>g</p>
    <p>抽出時間：<%= @tea.time %>分</p>
    <p>抽出温度：<%= @tea.temperature %>度</p>
    <p>このお茶を飲んだときにまつわるできごと：<br/ ><%= @tea.experience %></p>
    <p>こだわり：<br/ ><%= @tea.coment %></p>
    <a href="/review/new" class="btn btn-primary" role="button">コメント</a>
    <%= form_tag("/black/#{@tea.id}/review", method: :post) do %>
    <textarea placeholder="コメント" cols="40" rows="5" name="review"></textarea><br / >
    <input type="submit" value="SENT">
    <% end %>
  </div>
</div>

<div class="center">
  <h3>コメント一覧</h3>
  <% @review.each do |rev| %>
  <p>
    <%= rev.user.name %>：
    <%= rev.review %>
  </p>
  <% end %>
</div>